#aldiyar {
    cursor: pointer;
    content: url(aldiyar.png);
    width: 50px;
    opacity: 0;
    transition: 3s;
}

.bigAldiyar {
    width: 250px !important;
}

#finalAldiyar {
    position: absolute;
    top: 10%;
    left: 40%;
    opacity: 0;
}